body {
    margin-bottom: 40px;
}
h1 {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-size: 36px;
    line-height: 1;
}
h2 {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: italic;
    color: #333332;
    line-height: 1.2;
    font-size: 22px;
}
h2.subtitle {
    margin: 10px 0 30px;
}
p, ul, li {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    color: #333332;
    font-size: 18px;
    line-height: 1.5em;
}
code, pre {
    font-size: 14px;
}
ul, li {
    font-size: 18px; 
    line-height: 1.4em;
}
.clear {
    clear: both;
}
.page {
    margin-top: 30px;
}
.sidebar {
    margin-top: 15px;
    text-align: right;
    padding-right: 20px;
}
.sidebar-menu {
    list-style-type: none;
    margin-top: 20px;
}
.rss-link img {
    margin-top: -2px;
}
.author {
    padding: 10px 0;
    font-size: 16px;
}
.author .name {
    font-weight: bold;
    color: inherit;
}
.author time {
    display: block;
    font-size: 0.9em;
    color: #666;
}
.tags {
    font-size: 16px;
}
.admin {
    margin-top: 20px;
}
.admin .btn {
    margin-bottom: 10px;
}
.admin ul {
    list-style-type: none;
}
.postlist {

}
.postlist .post {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.postlist .post .title {
    font-size: 32px;
}
.postlist .post .subtitle {
    line-height: 40px;
    font-size: 18px;
    margin-bottom: 4px;
}
.postlist .post.unpublished .title {
    font-size: 18px;
}
.postlist .post.unpublished .subtitle {
    font-size: 14px;
}
.postlist a {
    color: inherit;
}
.postlist a:hover {
    text-decoration: none;
    color: #666;
}
.post-image {
    max-width: 100%;
    margin: 15px 0;
}
.post-content img {
    margin: 18px 0;
}
.full-list-link {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.fork-image {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0;
    background: transparent url(/public/images/gopher.png) no-repeat top right;
}
.closing-text {
    margin-top: 40px;
}
@media (max-width: 1200px) {
    .sidebar {
        text-align: center;
    }
}

/* tags */
ul.tags {
    list-style-type: none;
    margin: 1em 0 0 0;
}
ul.tags:after{
    clear:both;
}
ul.tags .tag {
    display: inline-block;
    margin-bottom: 4px; 
}
ul.tags .tag a {
    font-family: helvetica; 
    font-size: 13px; 
    border: 1px solid #ABBFC6; 
    -moz-border-radius:2px; 
    -webkit-border-radius:2px; 
    display: block; 
    padding: 0px 4px; 
    text-decoration:none; 
    background: #D3E2E7; 
    color: #4B626B;
    font-size:13px;
}

div.tagsinput { 
    border:1px solid #CCC; 
    background: #FFF; 
    padding:5px; 
    width: 100%; 
    height:27px; 
    overflow-y: auto;
}
div.tagsinput span.tag { 
    border: 1px solid #ABBFC6; 
    -moz-border-radius:2px; 
    -webkit-border-radius:2px; 
    display: block; 
    float: left; 
    padding: 2px 4px; 
    text-decoration:none; 
    background: #D3E2E7; 
    color: #4B626B;
    margin-right: 5px; 
    margin-bottom: 0;
    font-size:13px;
}
div.tagsinput span.tag a { 
    font-weight: bold; 
    color: #7E9198; 
    text-decoration:none; 
    font-size: 11px;
} 
div.tagsinput input { 
    width:80px; 
    margin:0px; 
    font-family: helvetica; 
    font-size: 13px; 
    border:1px solid transparent; 
    padding:2px; 
    background: transparent; 
    color: #000; 
    outline:0px; 
    margin-right:5px; 
    margin-bottom:0;
}
div.tagsinput div { 
    display:block; 
    float: left;
} 
.tags_clear { 
    clear: both; 
    width: 100%; 
    height: 0px; 
}
.not_valid {
    background: #FBD8DB !important; 
    color: #90111A !important;
}