{{template "admin/base.html" .}}
            <div class="span6">
                <h4>Categories</h4>
                <p>These are the categories currently available:</p>
                <table class="table table-striped">
                    <tbody>
                    {{range .categoryList}}
                        <tr>
                          <td>
                            <p>
                                <form action="{{ url "Admin.DeleteCategory" }}" method="post">
                                    <input type="submit" class="pull-right btn" title="Delete this category" value="x">
                                    <input type="hidden" name="name" value="{{.Name}}"/>
                                </form>
                                <strong>{{.Name}}</strong> 

                                <br/>
                                {{.Description}}
                            </p>
                          </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
                <h4>Add a New Category</h4>
                <div>
                    <form id="addnew_category" method="post" action="{{ url "Admin.NewCategory" }}">
                        <div class="control-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <input type="text" id="name" name="name" value=""/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="description">Description</label>
                            <div class="controls">
                                <input type="text" id="description" name="description" value=""/>
                            </div>
                        </div>
                        <input id="addnew" type="submit" name="submit" value="Add"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{template "footer.html" .}}
