{{set . "title" "Herman Schaaf"}}
{{template "header.html" .}}
</head>
{{set . "postTitle" "IronZebra"}}
{{template "base.html" .}}
                <h1>IronZebra</h1>
                <h2>Building web applications in Cape Town, Taipei and Tokyo. <a href="{{url "Blog.List" }}" title="Fair warning: It's mostly about boring programming stuff">Read the blog</a></h2>

                <p>I am Herman Schaaf, a web application developer that particularly likes building things in Python, Django, Node.js, JavaScript and, recently, Go.</p>

                <p>Over the last few years, I have helped build high-traffic web applications in <a title="progr.es - projects and processes, simplified" target="_blank" href="http://progr.es">Cape Town</a>, <a title="Eumakh - KPop Music Video TV" target="_blank" href="http://eumakh.com">Taipei</a> and now, <a title="Gengo - Communicate freely" target="_blank" href="http://gengo.com">Tokyo</a>.</p>

                <p>I have a keen interest in languages and I've started several open-source projects related to linguistics: <a href="http://chineselevel.com" target="_blank" title="ChineseLevel - Measure your Chinese reading fluency">ChineseLevel</a>, <a href="http://chinese-ime.com" target="_blank" title="Chinese IME - Write Chinese in a browser with this JavaScript plugin">Chinese IME</a> and <a href="https://github.com/hermanschaaf/mafan" target="_blank" title="Mafan - A toolbelt for working with Chinese in Python">Mafan</a>. I speak Afrikaans at home, English at work, Chinese with friends and study Japanese part-time.</p>

                <p>You can find me at some of the common programmer watering holes, <a title="Herman Schaaf's profile on Github" href="https://github.com/hermanschaaf/">Github</a>, <a title="Herman Schaaf's profile on StackOverflow" href="http://stackoverflow.com/users/445210/herman-schaaf">StackOverflow</a> and <a title="Herman Schaaf's profile on CoderWall" href="https://coderwall.com/hermanschaaf">CoderWall</a></p>

                <hr/>

                {{if .result.ShortID}}<p>You might also like my latest blog post, <a href="{{url "Blog.Show" .result.Category .result.ShortID .result.Slug }}">{{.result.Title}}</a></p>{{end}}
            </div>
        </div>
    </div>

{{template "footer.html" .}}

