{{template "Admin/base.html" .}}
            <div class="span6">
                <div id="login">
                  <form action="{{url "App.LoginPost"}}" id="formLogin" method="POST">
                    <p class="field">
                      <label>Login Name:</label>
                      <input type="text" name="username" size="19" value="" />
                    </p>
                    <p class="field">
                      <label>Password:</label>
                      <input type="password" name="password" size="19"/>
                    </p>
                    <p class="buttons">
                      <input type="submit" value="Account login" />
                    </p>
                  </form>
                </div>
            </div>
        </div>
    </div>
{{template "footer.html" .}}
