{{if not .title}}
    {{set . "title" "Latest Blog Posts"}}
{{end}}
{{template "header.html" .}}
</head>

<body>
    <div class="container">
        <div class="row-fluid page">
            <div class="span2 offset1 sidebar">
                <a href="{{url "App.Index"}}"><img alt="IronZebra - Web Application Developer from Cape Town, South Africa" src="/public/images/ironzebra.png"></a>
                <ul class="sidebar-menu">
                    {{$currentCategory := .currentCategory}}
                    {{range .categoryList}}
                    {{if eq .Name $currentCategory}}
                    <li title="{{.Description}}" class="currentLink">{{.Name}}</li>
                    {{else}}
                    <li><a title="{{.Description}}" href="{{url "Blog.ListCategory" .Name }}">{{.Name}}</a></li>
                    {{end}}
                    
                    {{end}}
                </ul>

                <hr />
                <div class="rss-link">
                    <a href="{{url "Blog.RSS" }}"><img src="/public/images/rss.png"/></a> <a href="{{url "Blog.RSS" }}">RSS</a>
                </div>
            </div>
            <div class="span6">
                {{if .currentTag}}
                <div class="alert alert-info">Posts in <strong><a href="{{url "Blog.ListCategory" .currentCategory}}">{{.currentCategory}}</a></strong> related to <strong><a href="{{url "Blog.ListTag" .currentCategory .currentTag}}">{{.currentTag}}</a></strong></div>
                {{end}}
                <div class="postlist">
                    {{$isAdmin := .isAdmin}}
                    {{range .postList}}
                        <div class="post{{if eq .Published false}} unpublished{{end}}">
                        {{if eq .Published false}}
                            <span class="label label-info">unpublished</span>
                        {{end}}
                            <a href="{{url "Blog.Show" .Category .ShortID .Slug}}">
                                <h1 class="title">{{.Title}}</h1>
                                <h2 class="subtitle">{{.Subtitle}}</h2>
                            </a>
                        </div>
                    {{end}}
                    {{if not .postList}}
                        <p>Woops, I haven't put any posts in this category yet.</p>
                    {{end}}
                </div>
                <div class="full-list-link center">
                    <a href="{{url "Blog.ListAll" }}">All the IronZebra posts</a>
                </div>
            </div>
        </div>
    </div>

{{template "footer.html" .}}
