{{set . "title" "Post"}}
{{template "header.html" .}}
</head>

<body>
    <div class="container">
        <div class="row-fluid page">
            <div class="span2 offset1 sidebar">
                <a href="{{url "App.Index"}}"><img alt="IronZebra - Web Application Developer from Cape Town, South Africa" src="/public/images/ironzebra.png"></a>
            </div>
            <div class="span6">
                <div class="postlist">
                    {{$isAdmin := .isAdmin}}
                    {{range .postList}}
                        <div class="post{{if eq .Published false}} unpublished{{end}}">
                        {{if eq .Published false}}
                            <span class="label label-info">unpublished</span>
                        {{end}}
                            <a href="{{url "Blog.Show" .ShortID .Slug}}">
                                <h1 class="title">{{.Title}}</h1>
                                <h2 class="subtitle">{{.Subtitle}}</h2>
                            </a>
                        </div>
                    {{end}}
                </div>
                <div class="full-list-link center">
                    <a href="{{url "Blog.ListAll" }}">See the full list of posts</a>
                </div>
            </div>
        </div>
    </div>

{{template "footer.html" .}}
