<body>
    {{if .isAdmin}}
        {{if eq .result.Published false}}
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          This is a preview of your post - click <strong>Publish!</strong> if it's ready for the world to see
        </div>
        {{end}}
    {{end}}
    <div class="container">
        <div class="row-fluid page">
            <div class="span2 offset1 sidebar">
                <a href="/"><img alt="IronZebra - Web Application Developer from Cape Town, South Africa" src="/public/images/ironzebra.png"></a>
                <div class="author">
                    <a class="name" href="/">Herman Schaaf</a>
                    <time datetime="2013-11-13">{{formatDate .result.Timestamp }}</time>
                </div>
                <div class="tags">
                    under <a href="{{url "Blog.ListCategory" .result.Category}}">{{.result.Category}}</a>
                </div>
                {{$category := .result.Category}}
                {{if not .isAdmin}}
                    <ul class="tags">
                        {{range .result.Tags}}
                        <li class="tag"><a href="{{url "Blog.ListTag" $category .}}">{{.}}</a></li>
                        {{end}}
                    </ul>
                {{end}}
                <hr>
                <div class="rss-link">
                    <a href="{{url "Blog.RSS" }}"><img src="/public/images/rss.png"/></a> <a href="{{url "Blog.RSS" }}">RSS</a>
                </div>
                {{if .isAdmin}}
                <div class="admin">
                    <ul>
                        <li><a class="btn" href="{{url "Admin.Edit" .result.ShortID .result.Slug }}">Edit this post</a></li>
                        {{if eq .result.Published false}}
                        <li><form method="POST" action="{{url "Admin.Publish" .result.ShortID }}"><input type="submit" class="btn btn-success" value="Publish!"></form></li>
                        {{else}}
                        <li><form method="POST" action="{{url "Admin.Unpublish" .result.ShortID }}"><input type="submit" class="btn" value="Unpublish"></form></li>
                        {{end}}

                    </ul>
                </div>
                {{end}}
            </div>
            <div class="span6 post-content">
                <h1 class="title">{{if .result.Title}}{{ .result.Title}}{{else}}IronZebra{{end}}</h1>
                {{if .result.Image}}<img class="post-image img-responsive" src="{{.result.Image}}">{{end}}
                {{if .result.Subtitle}}<h2 class="subtitle">{{.result.Subtitle}}</h2>{{end}}
                {{if .isAdmin}}
                    {{$id := .result.ShortID}}
                    <form method="post" action="{{url "Admin.SaveTags"}}">
                        <input type="text" class="taginput" name="tags" value="{{range .result.Tags}}{{.}},{{end}}"/>
                        <input type="hidden" name="shortid" value="{{$id}}"/>
                    </form>
                    <script src="/public/js/jquery-1.9.1.min.js"></script>
                    <script src="/public/js/jquery.tagsinput.min.js"></script>
                    <script type="text/javascript">
                    $(function(){
                        $('.taginput').tagsInput({
                            height: 27,
                            width: false,
                            onChange: function(){
                                $form = $(this).closest('form');
                                $.post($form.attr('action'), $form.serialize(), function(r){
                                });
                            }
                        });
                    });
                    </script>
                {{end}}