<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.title}} | IronZebra</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/base.css">
    {{if .result}}
    <link rel="canonical" href="{{.rootUrl}}{{url "Blog.Show" .result.ShortID .result.Slug}}" />
    {{end}}
