<body>
    {{if .isAdmin}}
        {{if eq .result.Published false}}
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          This is a preview of your post - click <strong>Publish!</strong> if it's ready for the world to see
        </div>
        {{end}}
    {{end}}
    <div class="container">
        <div class="row-fluid page">
            <div class="span2 offset1 sidebar">
                <a href="/"><img alt="IronZebra - Web Application Developer from Cape Town, South Africa" src="/public/images/ironzebra.png"></a>
                <div class="author">
                    <a class="name" href="/">Herman Schaaf</a>
                    <time datetime="2013-11-13">{{formatDate .result.Timestamp }}</time>
                </div>
                <div class="tags">
                    under <a href="{{url "Blog.ListCategory" .result.Category}}">{{.result.Category}}</a>
                </div>
                {{if .isAdmin}}
                <div class="admin">
                    <ul>
                        <li><a class="btn" href="{{url "Admin.Edit" .result.ShortID .result.Slug }}">Edit this post</a></li>
                        {{if eq .result.Published false}}
                        <li><form method="POST" action="{{url "Admin.Publish" .result.ShortID }}"><input type="submit" class="btn btn-success" value="Publish!"></form></li>
                        {{else}}
                        <li><form method="POST" action="{{url "Admin.Unpublish" .result.ShortID }}"><input type="submit" class="btn" value="Unpublish"></form></li>
                        {{end}}

                    </ul>
                </div>
                {{end}}
            </div>
            <div class="span6">
                <h1 class="title">{{if .result.Title}}{{ .result.Title}}{{else}}IronZebra{{end}}</h1>
                {{if .result.Subtitle}}<h2 class="subtitle">{{.result.Subtitle}}</h2>{{end}}